*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: "Baloo Bhai 2";
}
.header{
    width: 100%;
    color: #fff;
    position: relative;
}
.header nav a,#para{
    font-size: 1.5rem;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 7% 0px 7%;
}
.logo2{
    width: 120px;
    height: 120px;
    cursor: pointer;
    /* filter: invert(1); */
}
#img_logo{
    width: 25%;
}
.nav_links{
    width: 75%;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #63c9f8;
    transition: 1ms;
    text-decoration: underline;
}
.text{
    margin-top: 15%;
    font-size: 17px;
    width: 48%;
    letter-spacing: 1px;
    line-height: 45px;
}
.text h1{
    font-size: 75px;
    line-height: 96px;
}
.text .cv1{
    border-radius: 33px;
    border: none;
    background-color: aqua;
    font-family: "Baloo Bhai 2";
    color: #000;
    font-size: 1.5rem;
    padding: 10px 30px;
    text-decoration: none;
}
.text .cv1:hover{
    transform: scale(1.1);
    transition: 1s;
}
.nik_img{
    width: 48%;
}
.user{
    border-radius: 50%;
    width : 25%;
    position: absolute;
    right: 14%;
    bottom: 356px;
}
#body{
    display: flex;
    margin: 0px auto;
    padding: 0px auto;
    width: 80%;
}
.site-main-wrapper{
    position: relative;
}
.hamberger{
    position: absolute;
    top:40px;
    right: 40px;
    z-index: 11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

}
#ham{
    width: 40px;
    height: 40px;
    filter: invert(1);
}
.times img{
    width: 40px;
    height: 40px;
    /* filter: invert(1); */
}
.times{
    position: fixed;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    filter: invert(1);
}
.mobile-nav{
    font-size: 2rem;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1001;
    background-color: #000;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}
.open{
    transform: translateX(0);
}
.mobile-nav ul{
    list-style: none;
}
.mobile-nav ul li a{
    color: white;
    text-decoration: none;
}
.mobile-nav ul li a:hover{
    color: aqua;
    transform: scale(1.1);
}
@media (max-width:1024px){
    .m-l{
        width: 10%;
        height: 10%;
    }
    .header #main_nav{
        display: none;
    }
    #body{
        display: block;
    }
}
@media (min-width:1024px){
    #m-l{
        display: none;
    }
    #ham{
        display: none;
    }

}


@media (max-width:440px){
    #body{
        /* display: block; */
        flex-direction: row-reverse;
        justify-content: center;
    }
    #m-l{
        width: 60px;
        height: 60px;
        margin: 29px 0px -25px 38px;
    }

    .user{
        border-radius: 50%;
        width : 100%;
        position: inherit;
        justify-content: center;
        padding: 0px auto;
    }
    .text{
        width: 100%;
        margin-top: 12%;
        line-height: 35px
    }
    .text h1{
        font-size: 36px;
        line-height: 50px;
    }
    nav ul{
        padding-right: -1px;
        text-align: center;
    }
    /* nav{
        padding: 0px 0px 0px 0px;
    } */
    .last{
        display: block;
    }
    .nik_img{
        width: 100%;
    }
    .connect{
        padding-top: 20px;
    }
   .college{
       margin-left: 50px;
   }
   .header nav a{
       font-size:18px;
   }
   footer{
       height: 400px;
   }
   .nik_img{
       margin-top: 20px;
   }
   .text .cv1{
       padding: 3px 20px;
       margin: -7px 0px -1px 70px;
   }
}