*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000;
    font-family: "Baloo Bhai 2";
}
.header{
    width: 100%;
    color: #fff;
    position: relative;
}
.header nav a,#para{
    font-size: 1.5rem;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 100px;
}
.logo2{
    width: 120px;
    height: 120px;
    cursor: pointer;
    /* filter: invert(1); */
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #63c9f8;
    transition: 1ms;
    text-decoration: underline;
}
.text{
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 45px;
}
.text h1{
    font-size: 75px;
    line-height: 96px;
}
.text .cv1{
    border-radius: 33px;
    border: none;
    background-color: aqua;
    font-family: "Baloo Bhai 2";
    color: #000;
    font-size: 1.5rem;
    padding: 10px 30px;
    text-decoration: none;
}
.text .cv1:hover{
    transform: scale(1.1);
    transition: 1s;
}
.user{
    border-radius: 50%;
    width : 540px;
    position: absolute;
    right: 10%;
    bottom: 356px;
}
#body{
    display: flex;
    margin: 0px auto;
    padding: 0px auto;
    width: 80%;
}


@media (max-width:380px){
    #body{
        display: block;
    }
    .logo2{
        display: none;
    }

    .user{
        border-radius: 50%;
        width : 300px;
        position: inherit;
        right: 6%;
        bottom: 356px;
    }
    .text h1{
        font-size: 36px;
        line-height: 50px;
    }
    nav ul{
        padding-right: -1px;
        text-align: center;
    }
    nav{
        padding: 0px 0px 0px 0px;
    }
    .last{
        display: block;
    }
    .connect{
        padding-top: 20px;
    }
   .college{
       margin-left: 50px;
   }
   .header nav a{
       font-size:18px;
   }
   footer{
       height: 400px;
   }
   .nik_img{
       margin-top: 43px;
   }
}